h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  div {
    margin-bottom: 8px;
  }
  
  label {
    display: block;
    margin-bottom: 4px;
  }
  
  span {
    font-weight: bold;
  }

  button {
    background-color: #0f71da;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .app-geral {
    background-color: rgb(217, 228, 238);
  }
  
  